h1{
    color: blue;
}
body{
    background-image: url(../images/background1.jpg);
    color:black;

}
container2{
    float: right;
}
:hover{
    background-color: rgb(255, 255, 255);
    color:black;
}