h1{
    color: rgb(0, 0, 0);
}
body{
    background-image: url(../images/2.jpg);
    color:black;
    

}
container{
    float: right;
}
well:hover{
    background-color: rgb(255, 255, 255);
    color:black;
}
h4,{
    float: right;
}
p {
    cursor: pointer;
    color: #000000;
    }

.fifth-p{
    display: none;
}