h1{
    color: blue;
}
body{
    background-image: url(images/background1.jpg);
    color:black;

}
container2{
    float: right;
}
well:hover{
    background-color: rgb(255, 255, 255);
    color:black;
}
h4,{
    float: right;
}
p {
    cursor: pointer;
    color: #0088cc;
    }
    
    p:hover {
    text-decoration: underline;
    }
